@font-face {
    font-family: 'Condiment';
    src: url('../fonts/Condiment-Regular.woff2') format('woff2'),
        url('../fonts/Condiment-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('../fonts/KaushanScript-Regular.woff2') format('woff2'),
        url('../fonts/KaushanScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Reggae One';
    src: url('../fonts/ReggaeOne-Regular.woff2') format('woff2'),
        url('../fonts/ReggaeOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


